body {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #ffe6e6; /* Fondo más cálido */
}

#mensaje {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mensaje img {
  max-width: 100%;
  margin-bottom: 20px;
  background-color: #ffd6d6; /* Fondo del corazón más cálido */
  padding: 10px;
  border-radius: 50%;
}
/* ... (tu código CSS existente) */

.invisible {
  display: none;
}

#mensaje p {
  margin-bottom: 10px;
  color: #333; /* Color de texto más oscuro */
}

#botonBesos {
  background-color: #ff80b3; /* Color de fondo del botón */
  color: #ffffff; /* Color de texto del botón */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botonBesos:hover {
  background-color: #ff3385; /* Cambio de color al pasar el cursor */
}
